@import url("https://fonts.googleapis.com/css2?family=Mate+SC&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Enriqueta:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Quintessential&display=swap");

/* font-family: "Quintessential", serif;
font-weight: 400;
font-style: normal; */

body {
  font-family: "Enriqueta", serif;
  font-weight: 400;
  font-style: normal;
  background-image: url(imagenes/fondo7.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  margin: 0 auto;
  background-image: url(imagenes/snitch7.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 65%;
  height: 300px;
  box-shadow: 1px 1px 50px rgba(245, 215, 45, 0.658);
  /* /* display: flex; */
  align-content: flex-end; */
}

/* .snitch img {
    width: 100%; 
} */

.nav-bar {
  font-family: "Mate SC", serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  border: 1px solid red;
}

.nav-bar ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  background-color: #0a0b53;
  padding: 1em;

  /* position: absolute;
  bottom: 5px; */
}

.nav-bar li a {
  text-decoration: none;
  color: white;
  letter-spacing: 0.1em;
  font-size: 17px;
  /* padding: 0px 1.5em; */
}



.contenedor {
  margin: 0 auto;
  width: 65%;
  height: 80vh;
  background-color: #0a0b5381;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  box-shadow: 1px 1px 50px rgba(245, 215, 45, 0.658);
}

.contenedor img {
  width: 70%;
  box-shadow: 1px 1px 50px rgba(245, 215, 45, 0.658);
}
