body {
    /* Estilos del cuerpo de la página */
    background-image: url(imagenes/fondo2.jpg_large);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f3f3f3;
}

header {
    /* Estilos del encabezado */
    width: 100%;
    height: 350px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 30%;
    background-image: url(imagenes/logo-pokemon.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; /* Alinea el contenido al final del contenedor */
    margin-bottom: 20px; /* Agregar margen inferior */
}

nav {
    /* Estilos del menú de navegación */
    color: #fff;
    padding: 20px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    margin-bottom: 20px; /* Ajuste para bajar las letras */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 0.3s;
}

nav ul li a:hover {
    background-color: #555;
    border-color: #fff;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #333; /* Color de fondo del menú desplegable */
    min-width: 160px;
    z-index: 1;
}

.dropdown li {
    padding: 10px;
    text-align: center;
}

.dropdown li a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.dropdown li a:hover {
    background-color: #555;
}

nav ul li:hover .dropdown {
    display: block;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.card-container {
    flex: 1;
    margin-right: 20px;
}

.card {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: auto;
}

.description {
    flex: 2;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2em;
}

p {
    /* Estilos para el texto del contenido */
}

footer {
    /* Estilos del pie de página */
}
